@model ProductModel

@{
    ViewData["Title"] = "Add a new product";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Create a Product</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create" enctype="multipart/form-data">
                   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductCode" class="control-label"></label>
                        <input asp-for="ProductCode" class="form-control" readonly/>
                        <span asp-validation-for="ProductCode" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>                        
                    </div>
                    <div class="form-group">
                       @* <label asp-for="CategoryName" class="control-label"></label>*@
                        <select class="form-control" name="CategoryId" id="CategoryId">
                            <option value="" style="color:#ccc !important;">
                                Please select Category
                            </option>
                            @if (Model.AvailableCategories != null)
                            {
                                @foreach (var item in Model.AvailableCategories)
                                {
                                <option value="@item.Id">
                                    @item.Name
                                </option>
                                }
                            }
                            
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="picture" class="control-label"></label>
                        <input asp-for="picture" class="form-control" />
                        <span asp-validation-for="picture" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="float-right btn btn-outline-success " />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

</script>
